.storeLocator{
    text-align: center;
    top:30%;
    left:22%;
    position: absolute;
}

.button{
    margin: 30px 5px 10px 5px;
    padding: 9px 7px 9px 7px;
    border-radius: 5px;
    background-color: #744aff;
    color:#fff;
    border-color: #fff;
    outline:0px;
}

.button:active{
    background-color: #fff;
    color:#744aff;
}

.split{
    display: inline-block;
}

.inputBarGroup{
    background-color: #744aff;
    border-radius: 5px 0px 0px 5px;
    padding: 20px;
    height: 400px;
}

.map{
    position: absolute;
}

